main {
  margin: 2rem auto;
  max-width: 1200px;
  text-align: center;
}

.transactions {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  margin: 1rem;
}

.transactionForm,
.transactionsList {
  border: 1px solid black;
  padding: 1rem;
  border-radius: 8px;
}

.inputElement {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1.2rem;
}

label {
  margin: 0.4rem 0;
}

input {
  width: 90%;
  height: 1.4rem;
}

input[type="submit"] {
  width: 100px;
}

.transactionCard {
  padding: 0.2rem 1rem;
  margin: 1rem 0;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.377) 0px 2px 8px;
  text-align: left;
}

@media (max-width: 768px) {
  .transactions {
    grid-template-columns: 1fr;
  }
}
